.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-width: 1600px;
  background-image: url("paper.webp");
}
.receiver {
  padding: 10px 20px;
  width: 65%;
  height: 15vh;
  color: white;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 35px;
  /*border: black 2px dashed;*/
  cursor: text;
  border-radius: 20px;
  filter: hue-rotate(320deg);
  -webkit-animation: 8s ease 0s normal forwards 1 fadein;
  animation: 8s ease 0s normal forwards 1 fadein;
}

.space {
  line-height: 50px;
}
.receiver::placeholder {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
.receiver:focus {
  outline: none;
}

.content-container {
  position: relative;
  display: inline;
  width: auto;
  top: 35%;
}

.content-container h1 {
  text-align: center;
  font-size: 48px;
  font-family: monospace;
  -webkit-animation: 4s ease 0s normal forwards 1 fadein;
  animation: 4s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 950px) {
  .content-container {
    position: absolute;
    top: 30%;
  }

  .content-container h1 {
    text-align: center;
    font-size: 40px;
  }

  .space {
    line-height: 70px;
  }
  .receiver {
    border-radius: 12px;
    width: 60%;
    height: 10vh;
    font-size: 25px;
  }
}

@media only screen and (max-width: 790px) {
  .content-container {
    position: absolute;
    top: 25%;
  }

  .content-container h1 {
    text-align: center;
    font-size: 30px;
  }

  .space {
    line-height: 100px;
  }
  .receiver {
    border-radius: 12px;
    width: 60%;
    height: 5vh;
    font-size: 15px;
  }
}
